<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.mybatis.mappers.UsuarioMapper">
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='email' column='email'/>
        <result property='nombre' column='nombre'/>    
    </resultMap>
                                                                                               


<select id='loadUsuarioByEmail' parameterType='map' resultMap='UsuarioResult'>
    select usu.email, usu.name, from USUARIO on usu.email=USUARIO_EMAIL 
</select>

<insert email="insertUsuario">
    INSERT INTO USUARIO VALUES (#{usu.email},#{usu.name})
</insert>
<insert id="insertConsulta" useGeneratedKeys="true" keyProperty="con.id">
    INSERT INTO CONSULTAS (fecha_y_hora,resumen,PACIENTES_id,PACIENTES_tipo_id)VALUES (#{con.fechayHora},#{con.resumen},#{idpac},#{tipoidpac})
</insert>
</mapper>